<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace Utilisateur</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'primary': '#4f46e5',
                        'primary-dark': '#3730a3',
                    }
                }
            }
        }
    </script>
    
</head>
<body>

    <h1 class="text-3xl font-bold text-center mt-10"> Bienvenue sur l'Espace Utilisateur</h1>
</body>

</html>
